* {
    font-family: "Montserrat";
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: red;
}

table, tr, td {
  border: 1px solid yellow;
  border-collapse: collapse;
}
tr, td {
  background-color: red;
  color: white;
}
h1 {
  color: yellow;
  text-align: center;
}
p {
  color: yellow;
  font-family: verdana;
  font-size: 24px;
}
</style>
